body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #fff;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.button {
    padding: 16px 17px;
    text-transform: uppercase;
    background-color: #18CFAB;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    font-weight: 700;
}
.button:hover {
    background-color: #148e76;
}
.title {
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}
.title::after{
    content: "";
    width: 76px;
    height: 1px;
    display: block;
    background-color: #18CFAB;
    position: relative;
    top: 26px;
    left: 0;
    margin: 0 auto;
}
.title::before{
    content: "";
    width: 76px;
    height: 1px;
    display: block;
    background-color: #18CFAB;
    position: relative;
    top: 71px;
    left: 12px;
    margin: 0 auto;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5E5D5899;
    z-index: 5;
}
.header__container {
    display: flex;
    align-items: center;
    min-height: 120px;
    text-align: center;
}
.menu {
    margin-left: 305px;
}
.menu__list {
    display: flex;
    gap: 21px;
    margin-right: 21px;
}
.menu__item {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
}
.menu__item a {
    color: rgba(255, 255, 255, 0.6);;
}
.menu__item a:hover{
    transition: all 0.5s ease 0s;
    color: #18CFAB;
}
.header__search img:hover{
    fill: #18CFAB;
}
.main-block {
    background-image: url(..//img/backgrounds/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-block__container {
    text-align: center;
    padding-top: 384px;
}
.main-block__subtitle {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.blue{ 
    color: #18CFAB;
}
.main-block__title {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.main-block__text {
    font-weight: 400;
    font-size: 34px;
    margin-bottom: 129px;
}
.main-block__buttons {
    display: flex;
    justify-content: center;
    gap: 26px;
    padding-bottom: 243px;
}
.main-block__button {
    box-shadow: 0 -5px #fff;
}
.button-blue {
    background-color: #00CBF6;
}
.button-blue:hover {
    background-color: #02a7c8;
}
.options {
    margin-top: 5px;
}
.options__items {
    display: flex;
    justify-content: center;
}
.options__item {
    background-color: #18CFAB;
    flex: 0 0 25%;
    min-height: 267px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 110px;
}
.options__item:hover {
    transform: scale(1.1);
    transition: all 0.4s ease 0s;
}
.options__item-dark {
    background-color: #1C2A33;
}
.options__image {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
}
.options__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}
.options__title-green {
    color: #18CFAB;
}
.services {
    margin-top: 83px;
    margin-bottom: 91px;
}
.services__title {
    margin-bottom: 101px;
}
.services__tab-titles {
    color: #717171;
    display: flex;
    margin-bottom: 23px;
}
.services__tab-title {
    font-size: 16px;
    line-height: 39px;
    flex: 0 1 16.66%;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    text-align: center;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services__tab-title:hover {
    cursor: pointer;
}
.services__tab-title.active {
    background-color: #18CFAB;
    color: #fff;
    position: relative;
    transition: all 0.5s ease 0s;
}
.services__tab-title.active::after{
    content: "";
    display: block;
    position: absolute;
    top: 72px;
    background-color: #18CFAB;
    border-left: 13.5px solid #fff;
	border-right: 13.5px solid #fff;
	border-top: 11px solid #18CFAB;
}
.services__tab-contents {
    color: #777777;
}
.services__tab-content {
    display: none;
}
.services__tab-content.active {
    display: flex;
    gap: 15px;
}
.services__tab-content.active img {
    width: 192px;
    height: 139px;
}
.services__tab-content.active p {
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777;
    flex: 1 1 auto;
}
.buy {
    background-image: url(../img/backgrounds/background-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 126px 0 127px 0;
}
.buy__container {
    text-align: center;
}
.buy__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 12px;
    color: #18CFAB;
    text-transform: uppercase;
}
.buy__text {
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
    margin-bottom: 62px;
}
.buy__button {
    box-shadow: 0 -5px #fff;
}
.work {
    padding: 96px 0 99px 0;
    background-color: #E9EDEF;
}
.work__container {
    text-align: center;
}
.work__title {
    margin-bottom: 93px ;
}
.work__filter {
    color: #717171;
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
}
.work-filter__item {
    border: 1px solid #DADADA;
    padding: 15px;
    background: rgba(0, 0, 0, 0.0001);
}
.work-filter__item:first-child {
    padding: 15px 28px;
}
.work-filter__item.active {
    color:#18CFAB;
    border: 2px solid #18CFAB;
}
.work-filter__item:hover {
    color:#18CFAB;
    border: 2px solid #18CFAB;
}
.work__gallery {
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.gallery-image:hover {
    background: #E9EDEF;
    opacity: 0.1;
    transition: all 0.5s ease 0s;
    position: relative;
}
.work__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 auto;
}
.work__button p {
    font-size: 14px;
}
.news {
    margin-top: 82px;
    margin-bottom: 130px;
}
.news__container {
    max-width: 1160px;
}
.news__title {
    margin-bottom: 101px;
}
.news__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 43px;
}
.news__item {
    position: relative;
}
.news__item:hover .news-item__title {
    color: #18CFAB;
    transition: all 0.5s ease 0s;
}
.news-item:hover .news-item__data {
    background-color: #18CFAB;
    transition: all 0.5s ease 0s;
}
.news-item__title {
    color: #717171;
    font-size: 18px;
    line-height: 39px;
    font-weight: 700;
}
.news-item__subtitle {
    color: #777;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
}
.news-item__data {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 68px;
    background-color: #203E38;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about {
    background-image: url(../img/backgrounds/background-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 98px 0;
}
.about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1160px;
}
.about__title {
    margin-bottom: 99px;
    color: #fff;
}
.about__quotes {
    margin-bottom: 36px;
}
.about__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    color: #BBBBBB;
    margin-bottom: 37px;
}
.person {
}
.person__name {
    color: #18CFAB;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
}
.person__job {
    margin-bottom: 38px;
    font-style: 13px;
    font-weight: 300;
    line-height: 27px;
}
.person__image {
    margin-bottom: 51px;
}
.person__image img {
    transform: scale(2);
}
.slider {
    display: flex;
    gap: 38px;
    align-items: center;
}
.slider__image.active {
    margin-top: -13px;
}
.slider__button {
    background: none;
    border: 1px solid #BBBBBB;
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider__button:hover {
    background: #18CFAB;
    border: none;
}
.footer{
    background-color: #22353F;
    padding: 48px 0 47px 0;
    text-align: center;
}
.footer__copyright{
    color: #AEAEAE;
}
.footer__copyright a:hover {
    text-decoration: underline;
}